/*

font-family: 'Saira', sans-serif;

*/


@import url('css2.css');


html, body {
	overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}

body {	
    color: #54595f;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
	font-family: 'Saira', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #14133b;
    font-family: 'Saira', sans-serif;
    margin: 0;
    line-height:35px;	
    font-weight: 700;
    -webkit-transition: .5s;
    transition: .5s;
}
h1 {
    font-size:60px;
}
h2 {
    font-size: 35px;
	
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 18px;
}
a{
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
a{
	 color: #54595f;
}
a:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
}
a:focus,
a:hover {
    text-decoration: none;
    text-decoration: none;	
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    -webkit-transition: .5s;
    transition: .5s;
}

ul {
    margin: 0px;
    padding: 0px;
}

input:focus, button:focus {
    border-color: #5933f5;
    outline-color: #5933f5;
    border: 1px solid #5933f5;
}
textarea:focus{
	border-color:#5933f5;
	outline-color:#5933f5;
}
hr {
    margin: 60px 0;
    padding: 0px;
    border-bottom: 1px solid #eceff8;
    border-top: 0px;
}

label {
    color: #54595f;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

a,i, cite, em, var, address, dfn,ol,li,ul{
	font-style:normal;
	font-weight:400;
}


*::-moz-selection {
    background: #4fc1f0;
    color: #454545;
    text-shadow: none;
}
::-moz-selection {
    background: #4fc1f0;
    color: #454545;
    text-shadow: none;
}
::selection {
    background: #4fc1f0;
    color: #454545;
    text-shadow: none;
}

::placeholder {
    color: #454545;
    font-size: 16px;
}
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    
    color: #454545;
}
::-moz-placeholder {
    /* Firefox 19+ */    
    color: #454545;
}
:-ms-input-placeholder {
    /* IE 10+ */
    
    color: #454545;
}
:-moz-placeholder {
    /* Firefox 18- */
    
    color: #454545;
}

.mb-50{
    margin-bottom: 50px;
}





